.contact-main {
    background-color: $secondaryColor;
}
.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.social-media {
    padding: 80px;
    width: 60%;
}

.social-media i {
    color: $fontColor;
    font-size: 25px;
    padding: 0 20px 20px 0;
}
.form-input-contact {
    position: relative;
    right: 50px;
    bottom: 150px;
    box-shadow: 20px 20px $sideColor;
}
