.header-main {
    background-image: url("FunPlace-final-assets/home-header.jpg");
}
.header-blog {
    background-image: url("FunPlace-final-assets/blog-header.jpg");
}
.header-contact {
    background-image: url("FunPlace-final-assets/contact-header.jpg");
}

.banner {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    margin: 0;
    padding: 0;
}

nav ul {
   margin: 0;
   padding: 0;
        li {
        list-style: none;
        display: inline-block;
        margin: 40px 20px;   
        }
            a {
                text-decoration: none;
                color: #f3faff;
                font-family: $secondFont;
                font-size: 20px;
                font-weight: 700;
                letter-spacing: 1px;
                line-height: 29px;
                position: relative;
                z-index: 1;
                display: inline-flex;
            }
}
nav ul li a::before {
	content: "";
	width: 100%;
	height: 70%;
    background-image: linear-gradient(to top, $sideColor 20%, rgba(0, 0, 0, 0) 20%);
    position: absolute;
	left: 0;
	bottom: 2px;
	z-index: -1;
	transform: rotate(-2deg);
	transform-origin: left bottom;
}
nav ul li a:hover::before{
	width: 0;
}
nav ul li a::before{
	transition: width .1s ease-out;
}

nav ul li a:hover::before{
	transition-duration: 0.10s;
}

h1 {
    @include h1-tag;
}

h2 {
    @include h2-tag;
}

h3 {
    @include h3-tag;
}

.hamburger,
.exit-responsive {
	display: none;
}

.exit-responsive {
	position: relative;
}
/*This is for the menu to be toggled */
.show.menu {
	display: block;
}







