/* Global use */
header {
    position: relative;
}
.main-blue,
.road-trips,
.events {
    background-color: $secondaryColor;
}

.main-purple,
.gallery {
    background-color: $mainColor;  
}

/* Adding image to header */
.header-img {
    width: 40%;
    position: absolute;
    right: 0;
    bottom: -100px;
}

/*Section area of New space/Blog/Community/Get in touch*/
.four-program {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    padding: 8%;
}
.program-flex {
    width: calc(100% / 2);
    padding: 0 10%;
}

/* Styling the icon next to the text */
.icon-program {
    position: relative;
    right: 60px;
    top: 80px;
    background-color: $sideColor;
    font-size: 30px;
    color: $mainColor;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
}

/* Our programs & Location Area */
.purple-flex {
    display: flex;
    justify-content: space-between;
}

.purple-container {
    width: 40%;
        .img-up {
            position: relative;
            bottom: 50px;
            box-shadow: 10px 10px $sideColor;
        }
        .img-down {
            position: relative;
            top: 50px;
            box-shadow: $boxShadow;
        }
}

.content-right {
    text-align: right;
    padding-bottom: 40px;
}

/* Road Trip section with the banner underneath */
.trips-container {
    text-align: center;
    padding: 50px;
}

/* Section where EVENTS happens */
.events-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px;
        img {
            width: 30%;
            box-shadow: $boxShadow;
        }
}

.events-text {
    width: 70%;
    padding: 0 40px;
}

/* Photo Gallery at the bottom before footer */
.photo-gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
        img {
            margin: 50px 0;
            padding: 0 50px;
        }
}
.photo-gallery img{
    transform-origin: 50% 65%;
    transition: transform 5s, filter 3s ease-in-out;
}
.photo-gallery img:hover {
    filter: brightness(100%);
    transform: scale(0.5);
}