@import "setup";
@import "mixinsVariables";
@import "header";
@import "mainpage";
@import "contactpage";
@import "blogpage";
@import "form";
@import "mediaquery";

/* Global CSS style */
.content-wrap {
    max-width: 75rem;
    margin: 0 auto;
}

body,
h2,
h3 {
    margin: 0 auto;
}

time {
    font-size: 1.2rem;
    color: white;
    font-style: italic;
    font-weight: bolder;
}

button {
    @include button-property;
}
button:hover,
button:focus {
    border: 2px solid $mainColor;
}

p {
    @include body-text;
}

img {
    @include img-style;
}

footer {
    @include footer-style;
}

