html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Font use in Design */
/* Color use in Design */
/*Media Query Variables */
/* Mixin for all header tags */
/* all button will get this property */
/* all body paragraph will get this property */
/* all based footer will have this property */
.header-main {
  background-image: url("FunPlace-final-assets/home-header.jpg");
}

.header-blog {
  background-image: url("FunPlace-final-assets/blog-header.jpg");
}

.header-contact {
  background-image: url("FunPlace-final-assets/contact-header.jpg");
}

.banner {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 500px;
  margin: 0;
  padding: 0;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav ul li {
  list-style: none;
  display: inline-block;
  margin: 40px 20px;
}

nav ul a {
  text-decoration: none;
  color: #f3faff;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 29px;
  position: relative;
  z-index: 1;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

nav ul li a::before {
  content: "";
  width: 100%;
  height: 70%;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(20%, #08fded), color-stop(20%, rgba(0, 0, 0, 0)));
  background-image: linear-gradient(to top, #08fded 20%, rgba(0, 0, 0, 0) 20%);
  position: absolute;
  left: 0;
  bottom: 2px;
  z-index: -1;
  -webkit-transform: rotate(-2deg);
          transform: rotate(-2deg);
  -webkit-transform-origin: left bottom;
          transform-origin: left bottom;
}

nav ul li a:hover::before {
  width: 0;
}

nav ul li a::before {
  -webkit-transition: width .1s ease-out;
  transition: width .1s ease-out;
}

nav ul li a:hover::before {
  -webkit-transition-duration: 0.10s;
          transition-duration: 0.10s;
}

h1 {
  font-size: 6.5rem;
  font-family: "Walter Turncoat", cursive;
  font-weight: 400;
  color: #f3faff;
  line-height: 100px;
}

h2 {
  font-size: 5.5rem;
  color: #f3faff;
  font-family: "Walter Turncoat", cursive;
  font-weight: 400;
  line-height: 125.6px;
  padding-left: 50px;
}

h3 {
  font-family: "Walter Turncoat", cursive;
  font-weight: 400;
  font-size: 2.5rem;
  line-height: 99.8px;
  letter-spacing: 1px;
  color: #f3faff;
}

.hamburger,
.exit-responsive {
  display: none;
}

.exit-responsive {
  position: relative;
}

/*This is for the menu to be toggled */
.show.menu {
  display: block;
}

/* Global use */
header {
  position: relative;
}

.main-blue,
.road-trips,
.events {
  background-color: #03697c;
}

.main-purple,
.gallery {
  background-color: #474bb5;
}

/* Adding image to header */
.header-img {
  width: 40%;
  position: absolute;
  right: 0;
  bottom: -100px;
}

/*Section area of New space/Blog/Community/Get in touch*/
.four-program {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 8%;
}

.program-flex {
  width: calc(100% / 2);
  padding: 0 10%;
}

/* Styling the icon next to the text */
.icon-program {
  position: relative;
  right: 60px;
  top: 80px;
  background-color: #08fded;
  font-size: 30px;
  color: #474bb5;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  padding: 10px;
}

/* Our programs & Location Area */
.purple-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.purple-container {
  width: 40%;
}

.purple-container .img-up {
  position: relative;
  bottom: 50px;
  -webkit-box-shadow: 10px 10px #08fded;
          box-shadow: 10px 10px #08fded;
}

.purple-container .img-down {
  position: relative;
  top: 50px;
  -webkit-box-shadow: -10px 10px #08fded;
          box-shadow: -10px 10px #08fded;
}

.content-right {
  text-align: right;
  padding-bottom: 40px;
}

/* Road Trip section with the banner underneath */
.trips-container {
  text-align: center;
  padding: 50px;
}

/* Section where EVENTS happens */
.events-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 40px;
}

.events-container img {
  width: 30%;
  -webkit-box-shadow: -10px 10px #08fded;
          box-shadow: -10px 10px #08fded;
}

.events-text {
  width: 70%;
  padding: 0 40px;
}

/* Photo Gallery at the bottom before footer */
.photo-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.photo-gallery img {
  margin: 50px 0;
  padding: 0 50px;
}

.photo-gallery img {
  -webkit-transform-origin: 50% 65%;
          transform-origin: 50% 65%;
  -webkit-transition: -webkit-transform 5s, -webkit-filter 3s ease-in-out;
  transition: -webkit-transform 5s, -webkit-filter 3s ease-in-out;
  transition: transform 5s, filter 3s ease-in-out;
  transition: transform 5s, filter 3s ease-in-out, -webkit-transform 5s, -webkit-filter 3s ease-in-out;
}

.photo-gallery img:hover {
  -webkit-filter: brightness(100%);
          filter: brightness(100%);
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
}

.contact-main {
  background-color: #03697c;
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.social-media {
  padding: 80px;
  width: 60%;
}

.social-media i {
  color: #f3faff;
  font-size: 25px;
  padding: 0 20px 20px 0;
}

.form-input-contact {
  position: relative;
  right: 50px;
  bottom: 150px;
  -webkit-box-shadow: 20px 20px #08fded;
          box-shadow: 20px 20px #08fded;
}

.main-bg {
  background-color: #03697c;
}

/* Main section being split/flex into two column */
.main-blog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: no-wrap;
      flex-wrap: no-wrap;
}

.section-blog {
  width: 60%;
}

/*Content section of New activity */
.content-section {
  border: 10px solid #08fded;
  border-right: none;
}

.content-section img {
  position: relative;
  bottom: 100px;
  -webkit-box-shadow: -10px 10px #08fded;
          box-shadow: -10px 10px #08fded;
}

.border-line {
  margin: 0 50px 50px 50px;
}

/* side box with an image overlap */
aside {
  width: 400px;
}

aside img {
  position: relative;
  z-index: 2;
  top: 50px;
}

.aside-purple {
  background-color: #474bb5;
  padding: 40px;
  margin-left: 40px;
  -webkit-transform: translate(20px);
          transform: translate(20px);
}

.aside-purple ul li {
  color: #f3faff;
  font-family: "Walter Turncoat", cursive;
  font-size: 20px;
}

/* Section of comments */
.section-comments {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 50px 50px 50px;
}

.section-comments img {
  width: 100%;
  height: 100%;
  position: relative;
  top: 50px;
}

.section-comments div {
  padding: 40px;
}

fieldset {
  border: none;
}

.form-input-contact {
  background-color: #474bb5;
}

input[type=text],
input[type=email] {
  width: 49%;
  background: transparent;
  border: none;
  border-bottom: 1px solid #08fded;
  padding: 20px;
}

input::-webkit-input-placeholder {
  color: #f3f3f3;
  font-size: 20px;
  font-weight: bolder;
  font-family: "Roboto", sans-serif;
}

input:-ms-input-placeholder {
  color: #f3f3f3;
  font-size: 20px;
  font-weight: bolder;
  font-family: "Roboto", sans-serif;
}

input::-ms-input-placeholder {
  color: #f3f3f3;
  font-size: 20px;
  font-weight: bolder;
  font-family: "Roboto", sans-serif;
}

input::placeholder {
  color: #f3f3f3;
  font-size: 20px;
  font-weight: bolder;
  font-family: "Roboto", sans-serif;
}

input[type=text]:focus,
input[type=email]:focus,
textarea:focus {
  border: 2px solid #00aebb;
}

textarea {
  background-color: transparent;
  width: 100%;
  resize: none;
  border: 2px solid #08fded;
  color: #f3f3f3;
  font-size: 20px;
  font-family: "Roboto", sans-serif;
  margin: 40px 0;
}

button[type=submit] {
  color: #474bb5;
  background-color: #08fded;
  outline: none;
  border: none;
  padding: 10px;
  margin: 20px 0;
  width: 100%;
}

button[type=submit]:focus,
button[type=submit]:active {
  background-color: #007c92;
  border: 1px solid #08fded;
}

/* Media Query for breakpoint of a desktop to tablet version */
/* Universal Media Query */
@media screen and (max-width: 850px) {
  /* Media Query for Navigation Bar */
  .hamburger,
  .exit-responsive {
    margin: 0;
    display: block;
    font-size: 25px;
  }
  nav {
    display: none;
  }
  nav .fullScreen {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.95);
    color: white;
    z-index: 10;
  }
  nav ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  h2,
  h3 {
    padding: 50px 0 0px 0;
    line-height: normal;
  }
  h2 {
    text-align: center;
  }
  .highlight {
    text-shadow: 20px 0px 20px #08fded, -20px 0px 20px #08fded;
  }
  /* Responsive for main index.html page */
  .header-img {
    display: none;
  }
  .four-program {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
  .program-flex {
    padding: 0;
    width: 100%;
  }
  .icon-program {
    position: relative;
    right: 0;
    top: 15px;
  }
  .purple-flex,
  .photo-gallery,
  .events-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .purple-container {
    width: 100%;
    text-align: center;
  }
  .purple-container .img-up,
  .purple-container .img-down {
    bottom: 0;
  }
  .content-right {
    text-align: center;
  }
  .events-text {
    width: 100%;
    text-align: center;
  }
  .events-container img {
    width: 100%;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  /* Responsive for blog page */
  .main-blog {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  aside,
  .section-blog {
    width: 100%;
  }
  .border-line {
    padding: 20px;
    border: 2px dotted #08fded;
  }
  aside div img {
    z-index: 0;
    top: 0px;
    padding: 50px;
  }
  .aside-purple {
    margin: 0;
    -webkit-transform: translate(0);
            transform: translate(0);
  }
  .content-section {
    border: none;
  }
  .content-section img {
    -webkit-box-shadow: none;
            box-shadow: none;
    bottom: 0;
    padding: 50px;
  }
  .people-comments h3 {
    text-align: center;
  }
  /* Responsive for form section on blog and contact page */
  input[type=text],
  input[type=email] {
    width: 100%;
  }
  form {
    margin: 40px;
  }
  /* Media Query for contact page responsive design */
  .flex-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .social-media {
    width: 100%;
  }
  .form-input-contact {
    padding: 40px;
    right: 0;
    bottom: 0;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

/* Media Query Tablet to Mobile Version */
@media screen and (max-width: 360px) {
  .section-comments {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-comments img {
    top: 0;
    width: 100%;
    height: 100%;
  }
  .section-comments div p:nth-child(2) {
    display: none;
  }
  /* Mobile responsive for contact page*/
  .social-media {
    padding: 40px;
  }
}

/* Global CSS style */
html {
  font-size: 100%;
}

.content-wrap {
  max-width: 75rem;
  margin: 0 auto;
}

body,
h2,
h3 {
  margin: 0 auto;
}

time {
  font-size: 1.2rem;
  color: white;
  font-style: italic;
  font-weight: bolder;
}

button {
  font-family: "Walter Turncoat", cursive;
  font-weight: 400;
  font-size: 2rem;
  line-height: 41.6px;
  text-align: center;
  background-color: #08fded;
  color: #474bb5;
  border: none;
  padding: 10px;
  margin-top: 30px;
}

button:hover,
button:focus {
  border: 2px solid #474bb5;
}

p {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.2rem;
  letter-spacing: 1px;
  line-height: 28px;
  color: #f3faff;
  margin: 0;
}

img {
  width: 100%;
  display: block;
  height: auto;
}

footer {
  background-color: #044779;
  color: #f3faff;
  text-align: center;
}
